In [5]:
import numpy as np
import matplotlib as plt
import pandas as pd
%matplotlib inline

In [7]:
## Extracted data from ign
data = pd.read_csv('datasets/ign.csv')
data = data.drop('Unnamed: 0', axis=1)

In [12]:
## View data
data.head()
data.columns

Index([u'score_phrase', u'title', u'url', u'platform', u'score', u'genre',
       u'editors_choice', u'release_year', u'release_month', u'release_day'],
      dtype='object')

In [17]:
data[["score","platform"]].head()

   score          platform
0    9.0  PlayStation Vita
1    9.0  PlayStation Vita
2    8.5              iPad
3    8.5          Xbox 360
4    8.5     PlayStation 3

# Dataset Games Columns:
1. score_phase:
2. title
3. url
4. platform
5. score
6. genre
7. editors_choice
8. release_year
9. release_month
10. release_day

# Questions and Hypothesis:
1. What is the correlation between the user's satisfaction and the platform used? (

-Nadine the bold: Mobile games will have a higher satisfaction rate

-Audrey: platforms with better graphics will have a higher satifaction rate
2. Has the satisfaction changed in the four years of data collection

# 2. Has the satisfaction changed in the four years of data collection

In [19]:
# Data used
data[["score","release_year","release_month","release_day"]].head()

   score  release_year  release_month  release_day
0    9.0          2012              9           12
1    9.0          2012              9           12
2    8.5          2012              9           12
3    8.5          2012              9           11
4    8.5          2012              9           11

In [30]:
## Converts all our data to integers
data["release_year"].map(lambda x:int(x)).head()
data["release_month"].map(lambda x:int(x)).head()
data["release_day"].map(lambda x:int(x)).head()

0    12
1    12
2    12
3    11
4    11
Name: release_day, dtype: int64

In [40]:
## calcTime calculates the amount of time given years, months, days

def calcTime(years, months, days):
    time = days + ((years - 2012) * 365)
    if years == 2012 and months <= 2:  ## Before first leap day
        time += 0
    elif years == 2016 and months > 2:               ## After second leap day
        time += 2
    else:          ## Between leap days 
        time += 1
    if months > 1:
        time += 31
    if months > 2:
        time += 28
    if months > 3:
        time += 31
    if months > 4:
        time += 30
    if months > 5:
        time += 31
    if months > 6:
        time += 30
    if months > 7:
        time += 31
    if months > 8:
        time += 31
    if months > 9:
        time += 30
    if months > 10:
        time += 31
    if months > 11:
        time += 30
    return time
print(calcTime(2012, 1, 1))
print(calcTime(2012, 1, 1))
print(calcTime(2014, 1, 1))
print(calcTime(2015, 1, 1))
print(calcTime(2012, 2, 1))
print(calcTime(2015, 3, 1))

1
1
732
1097
32
1156

In [42]:
for i in range(1,30):
    print i, calcTime(2012, 3, i)

1 61
2 62
3 63
4 64
5 65
6 66
7 67
8 68
9 69
10 70
11 71
12 72
13 73
14 74
15 75
16 76
17 77
18 78
19 79
20 80
21 81
22 82
23 83
24 84
25 85
26 86
27 87
28 88
29 89

In [26]:
release_time =[]
#for year in data["release_year"]:

In [27]:
data.apply?

Signature: data.apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds)
Docstring:
Applies function along input axis of DataFrame.

Objects passed to functions are Series objects having index
either the DataFrame's index (axis=0) or the columns (axis=1).
Return type depends on whether passed function aggregates, or the
reduce argument if the DataFrame is empty.

Parameters
----------
func : function
    Function to apply to each column/row
axis : {0 or 'index', 1 or 'columns'}, default 0
    * 0 or 'index': apply function to each column
    * 1 or 'columns': apply function to each row
broadcast : boolean, default False
    For aggregation functions, return object of same size with values
    propagated
raw : boolean, default False
    If False, convert each row or column into a Series. If raw=True the
    passed function will receive ndarray objects instead. If you are
    just applying a NumPy reduction function this will achieve much
    better performance
reduce : boolean or None, default None
    Try to apply reduction procedures. If the DataFrame is empty,
    apply will use reduce to determine whether the result should be a
    Series or a DataFrame. If reduce is None (the default), apply's
    return value will be guessed by calling func an empty Series (note:
    while guessing, exceptions raised by func will be ignored). If
    reduce is True a Series will always be returned, and if False a
    DataFrame will always be returned.
args : tuple
    Positional arguments to pass to function in addition to the
    array/series
Additional keyword arguments will be passed as keywords to the function

Notes
-----
In the current implementation apply calls func twice on the
first column/row to decide whether it can take a fast or slow
code path. This can lead to unexpected behavior if func has
side-effects, as they will take effect twice for the first
column/row.

Examples
--------
>>> df.apply(numpy.sqrt) # returns DataFrame
>>> df.apply(numpy.sum, axis=0) # equiv to df.sum(0)
>>> df.apply(numpy.sum, axis=1) # equiv to df.sum(1)

See also
--------
DataFrame.applymap: For elementwise operations

Returns
-------
applied : Series or DataFrame
File:      /usr/local/lib/python2.7/dist-packages/pandas/core/frame.py
Type:      instancemethod